.footer {
  background-color: #2F324B;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  gap: 70px;
  align-items: center;
}

.footer__logo-box {
  display: flex;
  align-items: center;
}

.footer__logo {
  position: relative;
  margin-right: 20px;
  height: 68px;
  display: inline-block;
}

.footer__text-box {
  display: flex;
  text-align: center;
}

.footer__text {
  display: flex;
  justify-content: start;
  color: #fff;
  white-space: pre-line;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.625%;
}


@media (max-width: 750px) {
  .footer__box {
    row-gap: 0;
  }

  .footer__text-box {
    order: 1;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.625%;
    background-color: #2A2C3F;
    padding: 15 auto;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .footer__box {
    flex-wrap: wrap;

  }
}