.preview {
  background-blend-mode: multiply;
  position: relative;
  background-image: url('../images/preview-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-color: rgba(47, 50, 75, 0.85);
}

.preview__title {
  padding-top: 173px;
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
  font-family: Roboto;
  white-space: pre-line;
  font-size: 52px;
  font-weight: 900;
  line-height: 61px;
  margin-bottom: 35px;
}

.preview__subtitle {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 141%;
  white-space: pre-line;
  margin-bottom: 90px;
}

.preview__link-box {
  padding-bottom: 85px;
}

.preview__link {
  padding: 12px 48px;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background-color: #15A9CB;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.30);
  display: inline-block;
  transition: background-color 0.3s;
}

.preview__link:hover {
  background-color: #256c7c;
}

@media(max-width:1050px) {

  .preview__title {
    padding-top: 138px;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 27px;
  }

  .preview__subtitle {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 560px) {
  section .section {
    padding: 30px 0;
  }

  .preview__link-box {
    padding-bottom: 35px;
  }

  .preview__title {
    padding-top: 65px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
  }

  .preview__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 54px;
  }
}